/* -------------------------------------------------------------------------
-------------------------------------------------------------------------
                         Layout style
-------------------------------------------------------------------------
------------------------------------------------------------------------- */
main {
    margin:auto;/* to center but it has to have a width */
    
}
section{

    overflow:hidden;
}

div,header,footer,aside{
    float:left;
    width:100%;
}

/* -------------------------------------------------------------------------
-------------------------------------------------------------------------
                         Phone 
-------------------------------------------------------------------------
------------------------------------------------------------------------- */
@media screen and (max-width:960px){
    main{

    width: 480px;

    }
    header{
    height: 75px;

    }

    aside{
    height: 150px;
     }

    footer{
    height: 80px;
    }

    .firstRow{
    height: 125px;
     }
    .secondRow{
    height: 250px;
    width: 240px;
    }

    }

/* -------------------------------------------------------------------------
-------------------------------------------------------------------------
                        Desktop
-------------------------------------------------------------------------
------------------------------------------------------------------------- */
@media screen and (min-width:960px){
    main{

        width: 960px;
    
        }
    header{
    height: 100px;
    
    }
    
    aside{
        height: 600px;
        width:200px;
    }
    footer{
        height: 150px;
        width: 760px;
    }
    
    .firstRow{
        height: 200px;
        width: 380px;

    }
    .secondRow{
        height: 250px;
        width: 190px;
    }
    
    }